body {
  margin: 1em;
  padding: 2em;
}

.app {
  margin: 1em;
  position: relative;
  top: 40px;
}

.container {
  width: 600px;
  margin: 2em;
  padding: 3em;
  background: #dee;
  border: 24px solid #acc;
  overflow-y: scroll;
  height: 400px;
}

h1 {
  margin: 4px;
  font-size: 18px;
}

.headerWrapper {
  background: rgba(0, 0, 0, 0.1);
}

header {
  /* margin: 8px; */
  padding: 1em;
  background: rgba(30, 100, 30, 0.5);
  color: #fff;
}

.footerWrapper {
  background: rgba(0, 0, 0, 0.1);
}

footer {
  /* margin: 8px 4px 12px; */
  padding: 0.5em;
  background: rgba(30, 30, 100, 0.5);
  color: #fff;
}

pre {
  white-space: pre-wrap;
  font-size: 14px;
  line-height: 2.5em;
}
